<app-container
  titulo="De olho nos meus investimentos"
  subTitulo="Área de ações"
  decricaoBtn="Adicionar"
  (_onClick)="redirecionaCadastroAcoes()"
>
  <!-- TODO: componentizar o card -->
  <div class="cards">
    <div *ngFor="let acao of acoes$ | async" class="card [ is-collapsed ]">
      <div class="card__inner [ js-expander ]">
        <span class="mt-3">{{ acao.nome }}</span>
        <p class="mt-4">Quantidade: {{ acao.quantidade }}</p>
        <p class="mt-4">Preço: {{ acao.preco | currency: 'BRL' }}</p>
        <p class="mt-4">P/vp: {{ acao.pvp }}</p>
        <div class="btn-group">
          <button class="btn"><i class="fa fa-trash"></i></button>
          <button class="btn"><i class="fa fa-edit"></i></button>
        </div>
      </div>
    </div>
  </div>
</app-container>


